<?xml version="1.0" encoding="utf-8" standalone="yes" ?>
<feed xmlns="http://www.w3.org/2005/Atom">

  <title><%= site.title %></title>
  <link rel="self" href="<%= site.url %>"/>
  <link href="<%= site.url %>"/>
  <id></id>
  <updated><%= site.fetched.strftime('%A, %d. %B %Y %H:%M') if site.fetched %></updated>
  <generator uri="http://feedreader.github.io/"><%= Pluto.generator %></generator>

<%
   items = site.items.latest.limit(50)
   ItemCursor.new( items ).each do |item, new_date, new_feed|
%>
  <entry xml:lang="en">
    <title type="html" xml:lang="en"><%= CGI.escapeHTML(item.feed.title) %>: <%= CGI.escapeHTML(item.title) %></title>
    <link href="<%= item.url %>"/>
    <id><%= item.guid %></id>
    <updated><%= item.published %></updated>
    <content type="html" xml:lang="en"><% if item.content %>
    <%= CGI.escapeHTML(textify( item.content )) %>
  <% elsif item.summary %>
    <%= CGI.escapeHTML(textify( item.summary )) %>
  <% end %></content>
    <author>
      <name> item.author todo needs pluto fix</name>
      <uri>channel_link </uri>
    </author>
    <source>
      <title type="html"><TMPL_VAR channel_title ESCAPE="HTML"></title>
      <title type="html"><TMPL_VAR channel_name ESCAPE="HTML"></title>
      <subtitle type="html"><TMPL_VAR channel_subtitle ESCAPE="HTML"></subtitle>
      <link rel="self" href="<TMPL_VAR channel_url ESCAPE="HTML">"/>
      <id><TMPL_VAR channel_id ESCAPE="HTML"></id>
      <id><TMPL_VAR channel_url ESCAPE="HTML"></id>
      <updated><TMPL_VAR channel_updated_iso></updated>
      <rights type="html"><TMPL_VAR channel_rights ESCAPE="HTML"></rights>
    </source>
  </entry>

<% end %>
</feed>
