<?xml version="1.0"?>
<rss version="2.0">

<channel>
  <title><%= site.title %></title>
  <link><%= site.url %></link>
  <language>en</language>
  <description>OpenStreetMap blog aggregator</description>

<%
   items = site.items.latest.limit(50)
   ItemCursor.new( items ).each do |item, new_date, new_feed|
%>
<item>
  <title><%= CGI.escapeHTML(item.feed.title) %>: <%= CGI.escapeHTML(item.title) %></title>
  <guid><%= item.guid %></guid>
  <link><%= item.url %></link>
  <description><% if item.content %>
    <%= CGI.escapeHTML(textify( item.content )) %>
  <% elsif item.summary %>
    <%= CGI.escapeHTML(textify( item.summary )) %>
  <% end %></description>
  <pubDate><%= item.published %></pubDate>
  <author> item.author todo-needs pluto fix</author>
</item>
<% end %>
</channel>
</rss>